<main class="conainer nt-5">
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {{#if this.users.isEdit}}
            <span>Edit</span>
            {{else}}
            <span>New</span>
            {{/if}}
            User Details
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleInputFullName">Full name </label>
              <input type="text" id="name" class="form-control" onkeyup={{action "handleChange"}}
                value={{this.users.user.name}} />
            </div>
            <div class="form-group">
              <label for="exampleInputUsername">Username</label>
              <input type="text" id="username" class="form-control" onkeyup={{action "handleChange"}}
                value={{this.users.user.username}} />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" id="email" class="form-control" onkeyup={{action "handleChange"}}
                value={{this.users.user.email}} />
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPhone">Phone</label>
              <input type="text" id="phone" class="form-control" onkeyup={{action "handleChange"}}
                value={{this.users.user.phone}} />
            </div>
            <div class="form-group">
              <label for="exampleInputWebsite">Website</label>
              <input type="text" id="website" class="form-control" onkeyup={{action "handleChange"}}
                value={{this.users.user.website}} />
            </div>
            <button class="btn btn-primary" {{on "click" this.saveUser}} data-dismiss="modal">Submit</button>
          </form>
        </div>
        <div class="modal-footer" style="display:none">
          <button type="button" class="btn btn-secondary btn-model-close" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <button class="btn btn-success" {{on "click" @addRecord}}>Test</button>

  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        <li class="breadcrumb-item">User Details</li>
      </ol>
    </nav>

    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal"
      {{on "click" (fn this.clearUser)}}>
      Add New User
    </button>
    <br />
    <br />
    <User::UserList @userList={{@userList}} />
  </div>
</main>